body {
	padding-top: 40px !important;
}
.info {
	font-family: 'Raleway';
	font-size: 16px;

	margin: 20px;

	padding: 25px 50px;

	color: #303030;
}
.info__name {
	font: 400 70px "Raleway thin";
	text-align: center;
}
@media (min-width: 385px) and (max-width: 525px) {
	.info__name {
		font-size: 45px;
	}
}
@media (min-width: 320px) and (max-width: 385px) {
	.info__name {
		font-size: 40px;
		margin-bottom: 55px;
	}
}
.info__status {
	font-size: 1em;
	margin-top: -15px;
	text-align: center;
}
.info__list {
	font-size: 0.63em;
	font-size: 1em;

	padding: 0;

	text-align: center;

	list-style: none;
}
.info__list__item {
	display: inline;
	line-height: 2em;
}
.info__list__item--separator {
	width: 35px;
}
.info__list__item__link {
	margin: 3px;
	opacity: 0;
	transition: opacity 0.5s ease 0.5s;
}
.info__list--show .info__list__item__link {
	opacity: 1;
}
.info__list__item__vision-link,
.info__list__item__vision-link:hover {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted gray;
}
.info__list__item__link--icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
	bottom: -8px;
	background: url(../icons/icon_sprite.png) no-repeat top left;
}
.ig-b- {
	display: inline-block;
	position: relative;
}
.ig-b- img {
	visibility: hidden;
}
.ig-b-:hover {
	background-position: 0 -60px;
}
.ig-b-:active {
	background-position: 0 -120px;
}
.ig-b-16 {
	width: 16px;
	height: 16px;

	bottom: -10px;

	background: url(//badges.instagram.com/static/images/ig-badge-sprite-16.png) no-repeat 0 0;
}
.ig-b-24 {
	width: 24px;
	height: 24px;

	background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0;
}

.sprite-email { background-position: 0 0; width: 24px; height: 24px; }
.sprite-fb { background-position: 0 -172px; width: 24px; height: 24px; }
.sprite-gh { background-position: 0 -344px; width: 24px; height: 24px; }
.sprite-in { background-position: 0 -516px; width: 24px; height: 24px; }
.sprite-mk { background-position: 0 -688px; width: 24px; height: 24px; }
.sprite-skype { background-position: 0 -860px; width: 24px; height: 24px; }
.sprite-viber { background-position: 0 -1032px; width: 24px; height: 24px; }
.sprite-vk { background-position: 0 -1204px; width: 24px; height: 24px; }
.sprite-wapp { background-position: 0 -1376px; width: 24px; height: 24px; }

only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.ig-b-16 {
		background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-16@2x.png);
		background-size: 60px 178px;
	}
	.ig-b-24 {
		background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
		background-size: 60px 178px;
	}
	.sprite-email { background-position: 0 -74px; width: 24px; height: 24px; }
	.sprite-fb { background-position: 0 -246px; width: 24px; height: 24px; }
	.sprite-gh { background-position: 0 -418px; width: 24px; height: 24px; }
	.sprite-in { background-position: 0 -590px; width: 24px; height: 24px; }
	.sprite-mk { background-position: 0 -762px; width: 24px; height: 24px; }
	.sprite-skype { background-position: 0 -934px; width: 24px; height: 24px; }
	.sprite-viber { background-position: 0 -1106px; width: 24px; height: 24px; }
	.sprite-vk { background-position: 0 -1278px; width: 24px; height: 24px; }
	.sprite-wapp { background-position: 0 -1450px; width: 24px; height: 24px; }
}