#wrapper {
	width: 840px;
	margin: 30px auto;
}
#wrapper dd {
	height: 200px;
	margin: 0px;
	margin-bottom: 100px;
}
#wrapper dt {
	font-size: 24px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#wrapper figure {
	display: block;
	margin: 0px;
	width: 410px;
	float: left;
}
#wrapper figure img {
	padding: 0px;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	box-shadow: 0px 0px 4px 0px silver;
}
#wrapper dd p {
	width: 380px;
	float: right;
}